<div class="py-8 px-8">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
      <div class="flex items-center justify-center">
        <div class="max-w-7xl text-center">
          <a class="text-base text-gray-500 uppercase hover:text-gray-900 font-bold" href="{{ blog.url }}">
            {{ blog.title }}
          </a>
          <h1 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h1>
        </div>
      </div>

      {% when 'article_author' %}
      <div class="flex items-center justify-center">
        <div class="max-w-7xl text-center">
          {% if section.settings.enable_author %}
            <small>{{ article.author }}</small>
          {% endif %}
        </div>
      </div>


      {% when 'article_published_date' %}
      <div class="flex items-center justify-center">
        <div class="max-w-7xl text-center text-sm">
          {% if section.settings.enable_published_date %}
            <time datetime="{{article.published_at | date: '%Y-%m-%d' }}">
              {{ article.published_at | date: format: 'on_date' }}
            </time>
          {% endif %}
        </div>
      </div>

      {% when 'featured_image' %}
      <div class="max-w-full bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-4">
        {% if article.image != blank %}
          <img
            class="w-full h-80 md:h-96 object-cover object-center"
            src="{{ article.image | img_url: 'large' }}"
            alt="{{ article.image.alt }}">
        {% else %}
          {% assign placeholder_image = 'lifestyle-2' %}
          {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
        {% endif %}
      </div>

      {% when 'article_content' %}
      <div class="flex items-center justify-center">
        <div class="max-w-7xl">
          {{ article.content }}
        </div>
      </div>

  {% else %}
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="max-w-4xl mx-auto my-8">
    {% if article.comments_count > 0 %}
      <div class="grid grid-cols-1">
        {% paginate article.comments by 5 %}
          {% for komment in article.comments %}
            <div class="flex-1 p-2 border my-1 rounded-md">
              <span class="comment-author font-bold">
                {{ komment.author }}
              </span>
              <span class="text-xs text-gray-400">
                {{ komment.created_at | date: format: 'default' }}
              </span>
              <p class="text-sm py-1">{{ komment.content }}</p>
            </div>
          {% endfor %}

          {% if paginate.pages > 1 %}
            <div>
              {{ paginate | default_pagination }}
            </div>
          {% endif %}
        {% endpaginate %}
      </div>
    {% else %}
      There no comments in this article
    {% endif %}
  </div>

  <div id="comment_form" class="mb-8">

    {% form 'new_comment', article %}
      <div class="mx-auto max-w-4xl grid grid-cols-2 gap-1">
        <div class="col-span-2">
          {% if form.errors %}
            <div>
              <div class="text-red-500 flex items-center">
                <div>
                  {% render 'icon-failed' %}
                </div>
                <div class="ml-3 text-sm font-medium">Comment can not posted</div>
              </div>
              <div class="my-2">
                Errors:
              </div>
              <ul class="p-3 ">
                {% for error in form.errors %}
                  <li>
                    <span class="normal-case">{{ form.errors.messages[error] }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>

          {% elsif form.posted_successfully? %}
            <div>
              <div class="text-green-500 flex items-center">
                <div>
                  {% render 'icon-success' %}
                </div>
                <div class="ml-3 text-sm font-medium">
                  Comment is posted successfully
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <div>
          <label for="comment_author">Name</label>
          <input
            type="text"
            name="comment[author]"
            id="comment_author"
            placeholder="Jone Smith"
            required
            class="p-3 text-gray-700 focus:outline-none border w-full">
        </div>
        <div>
          <label for="comment_email">Email</label>
          <input
            type="email"
            name="comment[email]"
            id="comment_email"
            placeholder="example@email.com"
            required
            class="p-3 text-gray-700 focus:outline-none border w-full">
        </div>
        <div class="col-span-2">
          <label for="comment_content">Comment</label>
          <textarea
            name="comment[body]"
            id="comment_content"
            required
            class="p-3 text-gray-700 focus:outline-none border w-full"
            rows="10"
            cols="30"></textarea>
        </div>

        <div class="mb-3 col-span-2">
          <button type="submit" class="w-full bg-gray-800 text-white font-medium px-4 py-2">
            Post Comment
          </button>
        </div>
      </div>
    {% endform %}
  </div>

{% endif %}

{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Display Author Name"
      }, {
        "type": "checkbox",
        "id": "enable_published_date",
        "default": true,
        "label": "Display Published Date"
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_published_date",
        "name": "Published Date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "Thumbnail",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "Article Content",
        "limit": 1
      }
    ]
  }
{% endschema %}